{{#*inline "tokenListItem"}}
<label data-token-id="{{this.token.id}}" data-actor-name="{{this.actor.name}}" data-xp-amount="{{this.actor.data.data.details.xp.value}}">
    <input type="checkbox" name="{{this.token.id}}" {{#if isChecked}}checked="checked"{{/if}}>
    <div class="distribute-xp--actor-icon" style="background-image: url({{this.img}})"></div>
    <span class="distribute-xp--actor-xp">+0 XP</span>
</label>
{{/inline}}

<form>
    <h2>{{ localize "WORDS.Configuration" }}</h2>
    <div class="form-group">
        <label for="xp-modifier">{{ localize "COMBATXPHANDLER.DistributeForm.XPModifier" }}</label>
        <input id="xp-modifier" type="number" value="{{defaultModifier}}">
    </div>

    <nav class="tabs">
        <a class="item active" data-tab="allies">
            <i class="fas fa-users"></i>
            {{ localize "COMBATEXPHANDLER.DistributeForm.Allies" }}
        </a>
        <a class="item" data-tab="enemies">
            <i class="fas fa-skull"></i>
            {{ localize "COMBATXPHANDLER.DistributeForm.Enemies"}}
        </a>
    </nav>

    <section id="actor-select-tabs">
        <div data-tab="allies">
            <p class="notes">{{ localize "COMBATXPHANDLER.DistributeForm.SelectAllies" }}</p>
            <div id="allied-actor-list" class="distribute-xp--actor-list">
                {{#each allied}}
                    {{> tokenListItem isChecked=(lookup ../defaultSelectedAllies @index)}}
                {{/each}}
            </div>
        </div>

        <div data-tab="enemies" style="display: none;">
            <p class="notes">{{ localize "COMBATXPHANDLER.DistributeForm.SelectEnemies" }}</p>
            <div id="enemy-actor-list" class="distribute-xp--actor-list">
                {{#each enemies}}
                    {{> tokenListItem isChecked=true}}
                {{/each}}
            </div>
        </div>
    </section>

    <p id="hovered-creature" style="text-align: center;">&nbsp;</p>

    <h2>{{ localize "COMBATXPHANDLER.DistributeForm.Distribution" }}</h2>
    <div class="form-group">
        <label>{{ localize "COMBATXPHANDLER.DistributeForm.TotalXp" }}</label>
        <span id="total-xp">-</span>
    </div>
    <div class="form-group">
        <label>{{ localize "COMBATXPHANDLER.DistributeForm.CreaturesReceiving" }}</label>
        <span id="ally-receive-count">-</span>
    </div>
    <div class="form-group">
        <label>{{ localize "COMBATXPHANDLER.DistributeForm.XpPerCreature" }}</label>
        <span id="divisor-xp">-</span>
    </div>
</form>

<style>
    .distribute-xp--actor-list{
        display: flex;
        height: 276px;
        flex-wrap: wrap;
        overflow-y: scroll;
        margin-top: 6px;
        align-content: flex-start;
    }

    .distribute-xp--actor-list label {
        position: relative;
        cursor: pointer;
    }

    .distribute-xp-actor-list .distribute-xp--actor-icon {
        display: block;
        width: 82px;
        height: 82px;
        margin: 5px;
        border: 2px solid transparent;
        border-radius: 2px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .distribute-xp--actor-list :checked + .distribute-xp--actor-icon {
        background-color: #3CF23C55;
        box-shadow: 0 0 2px 2px #3CF23C;
    }

    .distribute-xp--actor-list input {
        display: none;
    }

    .distribute-xp--actor-list .distribute-xp--actor-xp {
        color: #FFFFFF;
        text-shadow: 0 0 3px black;
        display: block;
        position: absolute;
        bottom: 4px;
        left: 50%;
        max-width: 95%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
</style>